@namespace WebRTCme.Middleware
<Dialog Id="GenericPopup" Size="DialogSize.Normal" Centered="true" Animation="DialogAnimation.FadeIn"
    OnBeforeShow="OnBeforeShow" OnAfterShow="OnAfterShow" OnBeforeHide="OnBeforeHide" OnAfterHide="OnAfterHide">
    <DialogInputProvider TInput="GenericPopupIn">
        <DialogHeader ShowClose="true">
            <h4>@_in.Title</h4>
        </DialogHeader>
        <DialogBody>
            <p>@_in.Text</p>
        </DialogBody>
        <DialogFooter>
            <button type="button" class="btn btn-primary" @onclick="@(()=> context.Dialog.Hide("yes"))">Yes</button>
            <button type="button" class="btn btn-secondary" @onclick="@(()=> context.Dialog.Hide("no"))">No</button>
        </DialogFooter>
    </DialogInputProvider>
</Dialog>




@*<h1>@GenericPopupIn.Title</h1>
<h3>@GenericPopupIn.Text</h3>
<button type="button" class="btn btn-secondary" @onclick="@OnOkAsync">
    @GenericPopupIn.Ok
</button>
*@

