@page "/CallPage"
@page "/CallPage/{ConnectionParametersJson}"
@layout BlankLayout

<h1 class="text-center">Call</h1>

<div class="mx-4">
    <Media Stream="@CallViewModel.LocalStream" Label="@CallViewModel.LocalLabel"
           VideoMuted="@CallViewModel.LocalVideoMuted" AudioMuted="@CallViewModel.LocalAudioMuted" />
</div>

<div class="mx-4">
    <Media Stream="@CallViewModel.Remote1Stream" Label="@CallViewModel.Remote1Label"
           VideoMuted="@CallViewModel.Remote1VideoMuted" AudioMuted="@CallViewModel.Remote1AudioMuted" />
</div>
