@page "/call"

<h1>Call</h1>

<div>
    <Media Stream="@LocalStream" Label="@LocalLabel" VideoMuted="@LocalVideoMuted" AudioMuted="@LocalAudioMuted" />
</div>

<div>
    <Media Stream="@Remote1Stream" Label="@Remote1Label" VideoMuted="@Remote1VideoMuted" 
    AudioMuted="@Remote1AudioMuted" />
</div>

<EditForm Model="@ConnectionRequestParameters" OnValidSubmit="@Connect">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>TURN server name:</label>
        <InputSelect @bind-Value="ConnectionRequestParameters.TurnServerName">
            @if (_turnServerNames is not null)
            {
                @foreach (var turnServerName in _turnServerNames)
                {
                    <option value="@turnServerName">@turnServerName</option>
                }
            }
        </InputSelect>
    </div>

    <div>
        <label>Room name:</label>
        <InputText id="roomId" placeholder="enter room name" @bind-Value="ConnectionRequestParameters.RoomName" />
    </div>

    <div>
        <label>User name:</label>
        <InputText id="userId" placeholder="enter user name" @bind-Value="ConnectionRequestParameters.UserName" />
    </div>

    <div>
        <button class="btn btn-primary" type="submit"> 
            Join call
        </button>
    </div>
</EditForm>

