@page "/about"

<h1>Video meeting</h1>

@*<div>
<video autoplay @ref=_localVideo></video>
</div>


*@

<div>
    <Video Type="@Type" Source="@Source" Stream="@Stream" />
</div>

@*<div>
TURN server: @_server<input @bind="_server"/>
<input @bind="_room"/> Room name: @_room
<input @bind="_userId"/> User name: @_userId
</div>
<div>
<button class="btn btn-primary" @onclick="OnStartCall">Start call</button>
<button class="btn btn-primary" @onclick="OnJoinCall">Join call</button>
</div>
*@
<EditForm Model="@RoomRequestParameters" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>TURN server:</label>
        <InputSelect @bind-Value="RoomRequestParameters.TurnServer">
            @foreach (var server in Enum.GetValues(typeof(TurnServer)))
                    {
            <option value="@server">@server.ToString()</option>
            }
        </InputSelect>
    </div>

    <div>
        <label>Room name:</label>
        <InputText id="roomId" placeholder="enter room name" @bind-Value="RoomRequestParameters.RoomId" />
    </div>

    <div>
        <label>User name:</label>
        <InputText id="userId" placeholder="enter user name" @bind-Value="RoomRequestParameters.UserId" />
    </div>

    <div>
        <button class="btn btn-primary" type="submit" @onclick="@(() => RoomRequestParameters.IsJoin = false)">Start call</button>
        <button class="btn btn-primary" type="submit" @onclick="@(() => RoomRequestParameters.IsJoin = true)">Join call</button>
    </div>
</EditForm>
