@page "/about"

<h1>Video meeting</h1>

@*<div>
<video autoplay @ref=_localVideo></video>
</div>


*@

<div>
    <Video Type="@LocalType" Source="@LocalSource" Stream="@LocalStream" />
</div>

<div>
    <Video Type="@Remote1Type" Source="@Remote1Source" Stream="@Remote1Stream" />
</div>

@*<div>
TURN server: @_server<input @bind="_server"/>
<input @bind="_room"/> Room name: @_room
<input @bind="_userId"/> User name: @_userId
</div>
<div>
<button class="btn btn-primary" @onclick="OnStartCall">Start call</button>
<button class="btn btn-primary" @onclick="OnJoinCall">Join call</button>
</div>
*@
<EditForm Model="@JoinRoomRequestParameters" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>TURN server name:</label>
        <InputSelect @bind-Value="JoinRoomRequestParameters.TurnServerName">
            @if (_turnServerNames is not null)
            {
                @foreach (var turnServerName in _turnServerNames)
                {
                    <option value="@turnServerName">@turnServerName</option>
                }
            }
        </InputSelect>
    </div>

    <div>
        <label>Room name:</label>
        <InputText id="roomId" placeholder="enter room name" @bind-Value="JoinRoomRequestParameters.RoomName" />
    </div>

    <div>
        <label>User name:</label>
        <InputText id="userId" placeholder="enter user name" @bind-Value="JoinRoomRequestParameters.UserName" />
    </div>

    <div>
        <button class="btn btn-primary" type="submit"> 
            Join call
        </button>
    </div>
</EditForm>
